<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">ThriftMart</a>

    <div *ngIf="isAuthenticated()">
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
          [class.show]="isVisible"
          (click)="toggle()"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end profileDetails"
          aria-labelledby="navbarDropdownMenuAvatar"
          [class.show]="isVisible"
        >
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>


    <div *ngIf="!isAuthenticated()">
      <a class="btn btn-sm btn-outline-secondary mx-4" routerLink="/users/signin" type="button">Sign In</a>
      <a class="btn btn-sm btn-outline-secondary" routerLink="/users/signup" type="button">Sign Up</a>
    </div>
  </div>
</nav>

